{
  "extends": [
    "airbnb"
  ],
  "parser": "typescript-eslint-parser",
  "plugins": [
    "typescript"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
